.l-grid {
  display: grid;
  grid-template-rows: 15rem 1fr 25rem;
  grid-template-columns: 1fr;

  @include mq(tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: 20rem 1fr 25rem;
  }
}
