.p-article-list {
  @include mq(tablet) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
  }

  &__item {
    margin-top: 4rem;

    &:first-of-type {
      margin-top: 0;
    }

    @include mq(tablet) {
      margin-top: 0;
    }
  }
}

.p-article-cell {
  box-shadow: 0 10px 24px -10px rgba(0, 0, 0, .12);
  height: 100%;
  background: $white-color;
  overflow: hidden;
}

.p-article-link {
  transition: all .3s;
  display: block;

  &:hover {
    opacity: .75;

    img {
      transform: scale(1.2);
    }
  }

  img {
    transition: all .3s !important;
  }
}

.c-article-tags {
  display: flex;

  &__list {
    text-align: center;
    padding-left: 1rem;

    &:first-of-type {
      margin-left: -1rem;
    }

    a {
      border: .5px solid $tag-text;
      padding: .8rem 1rem;
      color: $tag-text;
      font-size: 1.2rem;
      background: $white-color;
      transition: all .3s;
      display: block;

      &:hover {
        color: $white-color;
        background: $tag-text;
      }
    }
  }
}

.c-article-cell {
  &__footer {
    padding: 0 1rem 1rem 1rem;
    margin-top: 2rem;
  }

  &__header {
    padding: 1rem 1rem 0 1rem;
  }

  &__body {
    padding: 1rem 1rem 0 1rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
  }

  &__date {
    color: $tag-text;
  }
}
